main {
  width: 100%;
  min-height: 100vh;
}

.swipper__search--input {
  position: absolute;
  top: 80%;
  right: 30%;
  z-index: 2;
  display: inline-flex;
  padding: 4px 4px 4px 30px;
  justify-content: flex-end;
  align-items: center;
  gap: 256px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.input__style--swipper {
  color: #555;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.swipper__btn--style {
  display: flex;
  width: 58px;
  height: 58px;
  padding: 17px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #299764;
  border: none;
}

//--------------------- dream car section

#dream--car {
  margin-top: 100px;
}

.dream__car--types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dream__car--types-h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dream__car--types-p {
  width: 575px;
  color: #555;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.dream__btn--style {
  padding: 19px 40px;
  align-items: flex-start;
  border-radius: 100px;
  background: #299764;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10%;
}
.dream__car--card {
  padding-top: 2%;
}

.dream__card--wrapper {
  width: 387px;
  height: 390px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #f5f5f5;
}

.dream__card--wrapper-h3 {
  padding-top: 30px;
  padding-left: 24px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dream__card--wrapper-p {
  padding-top: 6px;
  padding-left: 24px;
  color: #555;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user__icon--style {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-right: 40px;
}
.user--icons {
  display: flex;
  justify-content: space-between;
  gap: 66px;
}

.dream__icon--text {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user__icon--group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.dream__car--card {
  display: flex;
  gap: 20px;
}

.dream__card--of-btn {
  margin-top: 2%;
  display: flex;
  padding: 18px 30px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  background: #299764;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

// <!----------------------- start of community section  ------------------->
#third__section {
  display: flex;
  margin-top: 150px;
  padding: 100px 120px;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
}

.social__says {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.social__img--text {
  display: flex;
  text-align: center;
  gap: 8px;
}

.social__img--text > p {
  color: #4285f4;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social__says > h3 {
  width: 60%;
  color: #000;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.line__in--social {
  width: 330px;
  height: 2px;
  background: linear-gradient(
    90deg,
    #ea4335 19.83%,
    #fbbc05 65%,
    #34a853 82.29%,
    #4285f4 100%
  );
}

.social__p--text {
  color: #555;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social__instagram--btn {
  display: flex;
  padding: 18px 50px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  border: 1.7px solid #f13607;
  background: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tortor {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.nyugren__tupoy {
  text-align: start;
}

.google_big {
  margin-left: 70px;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.nyugen__text-p {
  margin-top: 14px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 372px;
}

.nyugen__line {
  margin-top: 25px;
  width: 372px;
  height: 1.5px;
  background: #c4c5c7;
}
.star-h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.five__star {
  margin-top: 24px;
  display: flex;
  gap: 0.8%;
}

.ronald__richards {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.nyugen__brat {
  padding: 24px;
  width: 420px;
  height: 333px;
  border-radius: 16px;
  background: #fff;
}

.ronald {
  position: absolute;
  right: 1%;
}

.nyugen__brat--all {
  display: flex;
  width: 930px;
  height: 439px;
  padding: 50px 40px 40px 40px;
  gap: 20px;
  background: #299764;
  border-radius: 0 20px 20px 0;
}

.ronald__1 {
  margin-top: 105px;
}

.ronald__opa {
  padding: 24px;
  width: 420px;
  height: 333px;
  border-radius: 16px;
  background: #fff;
}

// <!----------------------- end of community section  ------------------->

// <!---------------------------- start of brand section ------------------------>

.brand__text-h3 {
  margin-top: 8%;
  color: #000;
  text-align: left;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.brand__cars-img {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.logo_and_h3 {
  display: flex;
  flex-direction: column;
  margin-left: 108px;
}

.unparallel-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unparallel-service > h1 {
  margin-top: 160px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.unparallel-service > p {
  width: 45%;
  color: #555;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.pay__online {
  margin-top: 5%;
  display: flex;
  text-align: start;
  align-items: center;
  gap: 80px;
  width: 590px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f5f5f5;
}

.book__with-comp{
  padding-left: 32px;
}




.book__with-comp > p {
  margin-top: 10px;
  color: #555;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 75%;
}

.book__with-comp > h3 {

  width: 50%;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



.all__in-one{
  display: flex;
  gap: 20px;
  margin-bottom: 3%;
}


.h3-and-img{
  display: flex;
justify-content: space-between;
}



// <!---------------------------- enf of brand section ------------------------>
